<ng-container *ngIf="ingredientItem">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6">
                <img src="assets/img/{{ingredientItem.image}}.jpg" class="img-fluid" alt={{ingredientItem.name}} />
            </div>
            <div class="col-lg-6">
                <h2 class="fw-bold">{{ingredientItem.name}}</h2>
                <h3 class="my-4 mb-4">Nutritional value per 100 g</h3>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Protein</th>
                        <th scope="col">Carbs</th>
                        <th scope="col">Fat</th>
                        <th scope="col">kCal</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{ingredientItem.protein}}</td>
                        <td>{{ingredientItem.carbs}}</td>
                        <td>{{ingredientItem.fat}}</td>
                        <td>{{ingredientItem.kcal}}</td>
                      </tr>
                    </tbody>
                  </table>

                <div>
                    <button class="btn btn-outline-success btn-sm me-2" type="button">Start new recipe</button>
                    <button class="btn btn-outline-warning btn-sm me-2" type="button">Edit</button>
                    <button class="btn btn-outline-danger btn-sm" type="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
</ng-container>