<div class="container">
    <h2>Ingredients collection</h2>

    <mat-form-field>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search">
    </mat-form-field>

    <mat-form-field class="sort-dropdown">
        <mat-select (selectionChange)="sortIngredients($event.value)" placeholder="Sort">
            <mat-option value="kcalLowHigh">kCal Low to High</mat-option>
            <mat-option value="kcalHighLow">kCal High to Low</mat-option>
        </mat-select>
    </mat-form-field>

    <button class="btn btn-primary mx-6" [routerLink]="['../../ingredient/new']">Create a new ingredient</button>
    <div class="product-grid my-3" fxLayout="row wrap" fxLayoutGap="50px grid">
        <div *ngFor="let ingredient of filteredIngredients">
            <mat-card class="ingredient-card">
                <img mat-card-image src="assets/img/{{ingredient.image}}.jpg" alt={{ingredient.name}} [routerLink]="['../../ingredient/view', ingredient.id]">
                <mat-card-content>
                    <mat-card-title>{{ingredient.name}}</mat-card-title>
                    <mat-card-subtitle>{{ingredient.kcal}}</mat-card-subtitle>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button class="btn btn-warning mx-1" [routerLink]="['../../ingredient/edit', ingredient.id]">Edit</button>
                  <button mat-button class="btn btn-danger" (click)="deleteIngredient(ingredient.id)">Delete</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
</div>